Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [1]:
# Import libraries.
import pandas as pd

# Load the data.
df_pricing = pd.read_csv('airbnb_price.csv')
df_room_type = pd.read_excel('airbnb_room_type.xlsx')
df_last_review = pd.read_csv('airbnb_last_review.tsv', sep = '\t')

In [2]:
# Explore the data.
print(df_pricing.head())
print(df_room_type.head())
print(df_last_review.head())

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [3]:
# Merge the three dataframes.
df_airbnb = pd.merge(df_room_type, df_pricing, on = 'listing_id' )
df_airbnb = pd.merge(df_airbnb, df_last_review, on = 'listing_id')

print(df_airbnb.head())

   listing_id                                description        room_type  \
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

         price                nbhood_full    host_name   last_review
0  225 dollars         Manhattan, Midtown     Jennifer   May 21 2019
1   89 dollars     Brooklyn, Clinton Hill  LisaRoxanne  July 05 2019
2  200 dollars     Manhattan, Murray Hill        Chris  June 22 2019
3   79 dollars  Manhattan, Hell's Kitchen     Shunichi  June 24 2019
4  150 dollars       Manhattan, Chinatown          Ben  June 09 2019

What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.

In [4]:
# Format the 'last_review' column using 'to_datetime'.
df_airbnb['last_review'] = pd.to_datetime(df_airbnb['last_review'])

# Find the earliest and most recent reviews.
first_reviewed = df_airbnb['last_review'].min()
last_reviewed = df_airbnb['last_review'].max()
print('The earliest review is from', str(first_reviewed), 'and the most recent review is from', str(last_reviewed) +'.')

The earliest review is from 2019-01-01 00:00:00 and the most recent review is from 2019-07-09 00:00:00.

How many of the listings are private rooms? Save this into any variable.

In [5]:
# Group the room types in order to see the different options available.
room_types_all = df_airbnb.groupby(['room_type'])['listing_id'].count()
print(room_types_all)

room_type
ENTIRE HOME/APT    2143
Entire home/apt    8458
PRIVATE ROOM       1867
Private room       7241
SHARED ROOM          97
Shared room         380
entire home/apt    2665
private room       2248
shared room         110
Name: listing_id, dtype: int64

In [6]:
# Above we see that the same room type is listed in different ways due to inconsistent capitalization. 
# Therefore, let's make the capitalization consistent in the 'room type' column.
df_airbnb['room_type'] = df_airbnb['room_type'].str.lower()

# Confirm that all formatting is correct by rerunning the previous code to show the different types of rooms and count them.
room_types_all = df_airbnb.groupby(['room_type'])['listing_id'].count()
# print(room_types_all)

# Save the number of private rooms in the 'private_room_count' variable and print it.
nb_private_rooms = df_airbnb[df_airbnb['room_type'] == 'private room'].shape[0]
print('The number of private rooms is ' + str(nb_private_rooms) + '.')

The number of private rooms is 11356.

What is the average listing price? Round to the nearest penny and save into a variable.

In [7]:
# Inspect the 'price' column.
# print(df_airbnb['price'])

# Remove ' dollars' from the 'price' column.
df_airbnb['price'] = df_airbnb['price'].str.replace(' dollars', '')
# print(df_airbnb['price'])

# Format 'price' column as 'float'.
df_airbnb['price'] = df_airbnb['price'].astype(float)
# print(df_airbnb['price'])

# Find the average listing price.
avg_price = round(df_airbnb['price'].mean(), 2)
print('The average listing price is $'+ str(avg_price) + '.')

The average listing price is $141.78.

Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

In [8]:
# Create the final DataFrame according to the instructions.
review_dates = pd.DataFrame({
    'first_reviewed': [first_reviewed],
    'last_reviewed': [last_reviewed],
    'nb_private_rooms': [nb_private_rooms],
    'avg_price': [round(avg_price, 2)]
})

print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78